{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Classmate</title>
        <link rel="stylesheet" href="{% static 'dashboard_style.css' %}">
        <script src="{% static 'onboarding.js' %}"></script>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Montserrat:700">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Inter:400,500,600">
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'images/favicon.svg' %}"/>
        <meta name="theme-color" content="#FDFDFD">
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="container-fluid mb-3">
            <div class="row justify-content-center">
                <h1 class="title mt-4">Classmate</h1>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'dashboard' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewStudySessions' %}">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewClasses' %}">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'getFriends' %}">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'getProfile' cur_user_id %}">Profile</a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link me-auto" href="{% url "admin:index" %}">Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link me-auto" href="{% url 'confirmLogout' %}">Logout</a>
                </li>
            </ul>
            <div class="container-fluid mt-3">
                <div class="row">
                    <div class="col px-0 d-flex flex-column">
                        <div class="card card-lay">
                            <div class="circle">
                                <p class="circle-inner">{{ user.first_name|title|slice:":1" }}{{ user.last_name|title|slice:":1" }}</p>
                            </div>
                            <div class="card-body d-flex flex-column">
                                <p class='card-name mb-0'>{{ user.first_name|title }} {{ user.last_name|title }}</p>
                                <div class="d-grid gap-2 d-md-block">
                                    {% if in_person %}
                                        <button type="" class="btn btn-profile mt-2">In Person</button>
                                    {% else %}
                                        <button type="" class="btn btn-profile mt-2">Online</button>
                                    {% endif %}
                                    {% if cramming %}
                                        <button type="" class="btn btn-profile mt-2">Cramming</button>
                                    {% else %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card p-0 mb-3 mt-4">
                            <div class="card-header">My Classes</div>
                            {% if enrolledclasses %}
                                {% for class in enrolledclasses %}
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item link-ani">
                                            {{ class.class_name }} with {{ class.instructor }} <a data-bs-toggle="modal"
    data-bs-target="#classModal{{ class.id }}"
    href=""
    class="stretched-link"></a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">No classes found...</li>
                                </ul>
                            {% endif %}
                        </div>
                        <div class="card" style="">
                            <div class="card-header">My Friends</div>
                            {% if found %}
                                {% for i in found %}
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <p class="m-1 link-ani"> {{i}}
                                                <a href="{% url 'getProfile' i.id %}" class="stretched-link"></a>
                                            </p>
                                            {% if i.in_person %}
                                                <button type="" class="btn btn-profile">In Person</button>
                                            {% else %}
                                                <button type="" class="btn btn-profile">Online</button>
                                            {% endif %}
                                            {% if i.cramming %}
                                                <button type="" class="btn btn-profile">Cramming</button>
                                            {% else %}
                                            {% endif %}
                                        </li>
                                    </ul>
                                {% endfor %}
                            {% else %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">No friends found...</li>
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-9">
                        <div class='container'>
                            <div class="title-text mt-2 d-flex">
                                <h3 class="title-text">Your Classes</h3>
                                <button type="button"
                                        class="btn btn-outline-secondary ms-auto p-2"
                                        onclick="showInactive()"
                                        id='inactiveToggleButton'>
                                    Show Inactive Classes
                                </button>
                            </div>
                            {% if enrolledclasses %}
                                <div class='row'>
                                    {% for class in enrolledclasses %}
                                        {% if forloop.counter0|divisibleby:3 %}
                                        </div>
                                        <br>
                                        <div class="row">
                                        {% endif %}
                                        <div class="col-4">
                                            <div class="card class-card" style="">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        {{ class.class_name }}
                                                    </h5>
                                                    <h6 class="card-title fw-semibold c-subtitle">
                                                        {{ class.description }} with {{ class.instructor }}
                                                    </h6>
                                                    <a class="card-link stretched-link"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#classModal{{ class.id }}">Class Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade"
                                             id="classModal{{ class.id }}"
                                             tabindex="-1"
                                             aria-labelledby="classModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="classModal">
                                                            {{ class.class_name }}
                                                        </h1>
                                                        <button type="button"
                                                                class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h6 class="card-title fw-semibold">
                                                            {{ class.description }} with {{ class.instructor }}
                                                        </h6>
                                                        <h6 class="card-text fw-normal">
                                                            Meets {{ class.days }} from {{ class.start_time }} to {{ class.end_time }}
                                                        </h6>
                                                        <h6 class="card-text fw-normal">
                                                            Location: {{ class.location }}
                                                        </h6>
                                                        <h6 class="card-text fw-normal">
                                                            Type:
                                                            {% if class.component == "LEC" %}
                                                                Lecture
                                                            {% elif class.component == "LAB" %}
                                                                Lab
                                                            {% elif class.component == "DIS" %}
                                                                Discussion
                                                            {% else %}
                                                                {{ class.component }}
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a type="button"
                                                           href="{% url 'inactivateClass' class.id %}"
                                                           class="btn btn-outline-danger me-auto">Mark Inactive</a>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <a href="{% url 'createStudySession' class.id %}"
                                                           class="btn btn-primary btn-study-session">Create a Study Session!</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        No classes found...
                                    </li>
                                </ul>
                            {% endif %}
                            <br>
                            <hr>
                            <br>
                        </div>
                        <div class='container' style="display:none;" id="inactiveContainer">
                            <h3 class="title-text mt-2 mb-3">
                                Your Inactive Classes
                            </h3>
                            {% if inactiveclasses %}
                                <div class='row'>
                                    {% for class in inactiveclasses %}
                                        {% if forloop.counter0|divisibleby:3 %}
                                        </div>
                                        <div class="row">
                                        {% endif %}
                                        <div class="col-4">
                                            <div class="card class-card" style="">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        {{ class.class_name }}
                                                    </h5>
                                                    <h6 class="card-title fw-semibold c-subtitle">
                                                        {{ class.description }} with {{ class.instructor }}
                                                    </h6>
                                                    <a class="card-link stretched-link"
                                                       data-bs-toggle="modal"
                                                       data-bs-target="#classModal{{ class.id }}">Class Details</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal fade"
                                             id="classModal{{ class.id }}"
                                             tabindex="-1"
                                             aria-labelledby="classModalLabel"
                                             aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="classModal">
                                                            {{ class.class_name }}
                                                        </h1>
                                                        <button type="button"
                                                                class="btn-close"
                                                                data-bs-dismiss="modal"
                                                                aria-label="Close">
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h6 class="card-title fw-semibold">
                                                            {{ class.description }} with {{ class.instructor }}
                                                        </h6>
                                                        <h6 class="card-text fw-normal">
                                                            Meets {{ class.days }} from {{ class.start_time }} to {{ class.end_time }}
                                                        </h6>
                                                        <h6 class="card-text fw-normal">
                                                            Location: {{ class.location }}
                                                        </h6>
                                                        <h6 class="card-text fw-normal">
                                                            Type:
                                                            {% if class.component == "LEC" %}
                                                                Lecture
                                                            {% elif class.component == "LAB" %}
                                                                Lab
                                                            {% elif class.component == "DIS" %}
                                                                Discussion
                                                            {% else %}
                                                                {{ class.component }}
                                                            {% endif %}
                                                        </h6>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a type="button"
                                                           href="{% url 'activateClass' class.id %}"
                                                           class="btn btn-outline-success me-auto">Mark Active</a>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                            Close
                                                        </button>
                                                        <a href="{% url 'createStudySession' class.id %}"
                                                           class="btn btn-primary btn-study-session">Create a Study Session!</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        You have not marked any classes as inactive...
                                    </li>
                                </ul>
                            {% endif %}
                            <br>
                            <hr>
                            <br>
                        </div>
                        <div class='container'>
                            <h3 class="title-text mt-2">
                                Your Study Sessions
                            </h3>
                            {% if enrolledSessions %}
                                {% for session in enrolledSessions|dictsortreversed:"pk" %}
                                    {% if forloop.counter0|divisibleby:3 %}
                                        <div class="row mt-3">
                                        {% endif %}
                                        <div class="col-4">
                                            <div class="card study-card" style="">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        {{ session.title }}
                                                    </h5>
                                                    <h6 class="card-title fw-semibold c-subtitle">
                                                        {{ session.associatedClass.class_name }} with {{ session.associatedClass.instructor }}
                                                    </h6>
                                                    <h6 class="card-title session-text">
                                                        Led by: {{ session.organizer }}
                                                    </h6>
                                                    {% if session.startTime|date:"d m Y" == session.endTime|date:"d m Y" %}
                                                        <h6 class="card-title session-text">
                                                            {{ session.startTime }} - {{ session.endTime|date:"f a" }}
                                                        </h6>
                                                    {% else %}
                                                        <h6 class="card-title session-text">
                                                            {{ session.startTime }} - {{ session.endTime }}
                                                        </h6>
                                                    {% endif %}
                                                    <a href="{% url 'viewStudySession' session.id %}"
                                                       class="card-link stretched-link">Session Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            No study sessions found...
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<section class="mt-auto">
    <!-- Footer -->
    <footer class="text-center text-white"
            style="background-color: rgb(97, 129, 247);">
        <!-- Grid container -->
        <div class="text-center p-3" style="background-color: rgb(97, 129, 247);">
            Classmate © 2022 Copyright:
            <a class="text-white"
               href="https://github.com/uva-cs3240-f22/project-b-1">Group B-1</a>
        </div>
    </footer>
    <!-- Footer -->
</section>
</html>
