{% load socialaccount %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Classmate</title>
        <link rel="stylesheet" href="{% static 'dashboard_style.css' %}">
        <script src="{% static 'onboarding.js' %}"></script>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Montserrat:700">
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Inter:400,500,600">
        <link rel="icon"
              type="image/svg+xml"
              href="{% static 'images/favicon.svg' %}"/>
        <meta name="theme-color" content="#FDFDFD">
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <h1 class="title mt-4">Classmate</h1>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'viewStudySessions' %}">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'viewClasses' %}">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'getFriends' %}">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'getProfile' cur_user_id %}">Profile</a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link me-auto" href="{% url "admin:index" %}">Admin</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link me-auto" href="{% url 'confirmLogout' %}">Logout</a>
                </li>
            </ul>
            <div class="col">
                <div class='container-fluid mb-3'>
                    <h3 class="title-text mt-3">Study Sessions for my Classes</h3>
                    {% if relevantSessions %}
                        <div class='row mt-3'>
                            {% for session in relevantSessions|dictsortreversed:"pk" %}
                                {% if forloop.counter0|divisibleby:3 %}
                                </div>
                                <div class="row mb-3">
                                {% endif %}
                                <div class="col-4">
                                    <div class="card study-card" style="">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ session.title }}</h5>
                                            <h6 class="card-title fw-semibold c-subtitle">
                                                {{ session.associatedClass.class_name }} with {{ session.associatedClass.instructor }}
                                            </h6>
                                            <h6 class="card-title session-text">Led by: {{ session.organizer }}</h6>
                                            {% if session.startTime|date:"d m Y" == session.endTime|date:"d m Y" %}
                                                <h6 class="card-title session-text">{{ session.startTime }} - {{ session.endTime|date:"f a" }}</h6>
                                            {% else %}
                                                <h6 class="card-title session-text">{{ session.startTime }} - {{ session.endTime }}</h6>
                                            {% endif %}
                                            <a href="{% url 'viewStudySession' session.id %}"
                                               class="card-link stretched-link">Session Details</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">No study sessions found...</li>
                            </ul>
                        {% endif %}
                    
                    <h3 class="title-text mt-3">All Study Sessions</h3>
                    {% if sessions %}
                        <div class='row'>
                            {% for session in sessions|dictsortreversed:"pk" %}
                                {% if forloop.counter0|divisibleby:3 %}
                                </div>
                                <br>
                                <div class="row mb-3">
                                {% endif %}
                                <div class="col-4">
                                    <div class="card study-card" style="">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ session.title }}</h5>
                                            <h6 class="card-title fw-semibold c-subtitle">
                                                {{ session.associatedClass.class_name }} with {{ session.associatedClass.instructor }}
                                            </h6>
                                            <h6 class="card-title session-text">Led by: {{ session.organizer }}</h6>
                                            {% if session.startTime|date:"d m Y" == session.endTime|date:"d m Y" %}
                                                <h6 class="card-title session-text">{{ session.startTime }} - {{ session.endTime|date:"f a" }}</h6>
                                            {% else %}
                                                <h6 class="card-title session-text">{{ session.startTime }} - {{ session.endTime }}</h6>
                                            {% endif %}
                                            <a href="{% url 'viewStudySession' session.id %}"
                                               class="card-link stretched-link">Session Details</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">No study sessions found...</li>
                            </ul>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<section class="mt-auto">
    <!-- Footer -->
    <footer class="text-center text-white"
            style="background-color: rgb(97, 129, 247);">
        <!-- Grid container -->
        <div class="text-center p-3" style="background-color: rgb(97, 129, 247);">
            Classmate © 2022 Copyright:
            <a class="text-white"
               href="https://github.com/uva-cs3240-f22/project-b-1">Group B-1</a>
        </div>
    </footer>
    <!-- Footer -->
</section>
</html>
</html>
